:root {
  --color-text: #ffffff;
  --color-error: #980000;
  --color-paper: #232323;
  --color-primary: #009688;
  --color-background: #000000;
  --color-primary-contrast: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*Componentes Principais*/
.header {
  display: flex;
  background-color: #1070b4;
  margin-top: 50px;
  width: fullwidth;
  height: 5px;
  left: 900px;
  color: white;
  font-family: "Poppins", sans-serif;

  border-radius: 10px;
}
.logohome {
  width: 130px;
  height: auto;
  margin-left: 50px;
  margin-top: 50px;
}
.navbar {
  text-align: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0px 5px;
}
.navbarText {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-decoration: none;
  justify-content: space-between;
  padding: 0px 5px;
  transition: 0.3s;
}
.conteiner-footer {
  /*Todos os direitos reservados a empresa */
  background-color: #0e71b2;
  bottom: 0;
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 100%;
  border-radius: 10px;
}
.conteiner-footer {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: auto;
}
html,
body {
  overflow: overlay;
  @apply bg-background text-text w-screen h-screen;
  margin: 5px 4px;
}

.button {
  @apply p-2 px-2 bg-primary rounded underline-offset-4;
}
/*Pagina Comunidade*/
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.post {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.post h3 {
  margin: 0;
  color: #333;
}
.post p {
  color: #555;
  div.newPost {
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.1);
  }
}
a {
  @apply hover:underline active:opacity-50 transition-opacity;
}
.overflow-primary::-webkit-scrollbar-thumb {
  @apply bg-primary;
}
/*Classes de texto*/
.h1 {
  padding-top: 40px;
  font-size: 80px;
  margin-left: 70px;
  margin-top: 95px;
  margin-bottom: -270px;
  color: #83bb59;
  font-family: "Poppins", extrabold;
}
.text {
  color: aliceblue;
}
.h2 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 100px;
  margin-top: 270px;
  margin-left: 74px;
}
.h5 {
  text-align: center;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding-top: 9px;
}
.roboto-mono- {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 16px;
  font-style: normal;
}
.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.textdescubra {
  font-family: Poppins, sans-serif;
  margin-left: 48px;
  margin-top: 130px;
}

.descubramais {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*Classes de Link*/
a:hover {
  text-decoration: none;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-decoration: none;
  justify-content: space-between;
  transition: 0.3s;
}

/*Fotos*/
.coraçaoHOME {
  display: flex;
  max-width: 100%;
  width: 640px;
  height: auto;
  margin-top: -460px;
  margin-left: 820px;
}

.cranioFlores {
  border-radius: 10px;
}
.homemForte {
  border-radius: 10px;
}
.mulherMeditando {
  border-radius: 10px;
}

.imgTreino {
  display: flex;
  border-radius: 1rem;
  gap: 2;
  justify-content: space-between;
  border: #000000;
  border-radius: 50%;
}

/*Botões*/
.btn-home {
  width: 200px;
  height: 25px;
  border-radius: 40px;
  margin-left: 150px;
  margin-top: -400px;
  background-color: #0e71b2;
  border: none;
  padding: 15px;
  padding-top: -15px;
  color: #ffffff;
  font-family: "Poppins", extrabold;
}

.sobre {
  margin-top: 120px;
  margin-left: 34px;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
}

.ft-sobre {
  width: 500px;
  margin-left: 900px;
}
/*Pagina de Treinos*/
.treinos {
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  display: inline-block;
  display: flex;
  text-align: center;
  padding: 20px;
  justify-content: space-around;
  flex-direction: column;
}
iframe {
  width: 100%;
  max-width: 400px;
  height: 250px;
  margin-bottom: 20px;
}

.main {
  max-width: 900px;
  margin: 0 auto;
}
.navbar_treinos {
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/*Pagina de login*/
.loginForm {
  display: flex;
  flex-direction: column;
  margin-left: 400px;
  width: 100%;
  color: #ffffff;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  border-color: #0e71b2;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
  max-width: 500px;
  max-height: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: gradient(to right, #f7f7f7, #e4e4e4);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.textLogin {
  color: #000000;
  font-size: medium;
}

.loginEmailInput {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #f0f0f0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #333;
}

.senhaInputLogin {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #f0f0f0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #333;
}
.btnLogin {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #0e71b2;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.LogarText {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.coraçaoLogin {
  display: flex;
  max-width: 90%;
  width: 630px;
  height: auto;
  margin-top: -650px;
  margin-bottom: 10px;
  margin-left: 65%;
  border-radius: 20px;
}

/*Pagina de Cadastro*/
.cadastroForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 400px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background-color: gradient(to right, #0e71b2, #0056f5);
  background-image: linear-gradient(to right, #0e71b2, #0051ff);
  border-radius: 10px;
  margin-bottom: 100px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.CadastroNomeInput {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #f0f0f0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #333;
}

.CadastroEmailInput {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #f0f0f0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #333;
}

.senhaInputCadastro {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #f0f0f0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #333;
}
.btnCadastro {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #0e71b2;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.CadastroText {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.btnLogin2 {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #43a2e0;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/*Responsividade*/
@media screen and (max-width: 768px) {
  .cadastroForm {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .descubramais {
    width: 100%;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .h1,
  .h2,
  .h3,
  .textos,
  .conteiner-footer {
    width: 100%;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .marombafoto {
    width: 100%;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .btn-home {
    width: 100%;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .sobre {
    width: 100%;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .h1,
  .h2,
  .h3,
  .textos,
  .conteiner-footer {
    width: 100%;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .btnLogin,
  .LogarText,
  .loginForm,
  .coraçaoLogin {
    width: 100%;
    flex-direction: column;
  }
}
.h10 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 18px;
  margin-top: 20px;
  margin-left: 74px;
}

/*Modo Dark*/
.trilho {
  display: flex;
  width: 80px;
  height: 40px;
  background-color: #000000;
  margin-left: 180vh;
  border-radius: 150px;
  margin-top: 20px;
  position: relative;

  cursor: pointer;
}
.trilho .indicador {
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0.9);
  position: absolute;
  left: 0;
  transition: 0.5s;
}

.trilho.dark {
  background-color: #c3c3c3;
}

.trilho.dark .indicador {
  left: 42px;
  background-color: grey;
}

body.dark {
  background-color: #232323;
}

header.dark {
  background-color: #003eb1;
}

.conteiner-footer.dark {
  background-color: #003eb1;
}

.logohome.dark {
  background-color: floralwhite;
  border-radius: 10px;
  padding: 5px;
}
